header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    align-items: center;

    .contenedor-buttons {
        display: flex;

        .crear-gifOS {
            margin-right: 5px;
            @extend %btnRosa;

        }

        .theme {
            margin-right: 5px;
            

            .botonDrop {
                margin-top: 7px;
                background-color: transparent;

                .button-dropdown {
                    @extend %btnRosa;
                    width: 120px;

                }

                span {
                    @extend %btnRosa;

                    img {
                        margin: auto;
                    }
                }
            }

            #drop1 {
                display: none;
                position: absolute;
                background-color: $color-gray;
                margin-top: 7px;
                width: 127px;
                background: $color-gray;
                box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;

                li {
                    list-style-type: none;
                    text-decoration: none;
                    background: $color-backgrund;
                    border: 1px solid $color-rosa-claro;
                    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 $color-white;
                    font-size: 16px;
                    color: $color-borderButton;
                    letter-spacing: 0;
                    line-height: 22px;
                    padding: 5px;
                    margin: 5px;

                    &:visited {
                        background: $color-input;
                        border: 1px solid $color-borderDarkGray;
                        box-shadow: inset -1px -1px 0 0 $color-lightgray, inset 1px 1px 0 0 $color-white;
                    }
    
                    &:hover {
                        background: $color-input;
                        border: 1px solid $color-borderDarkGray;
                        box-shadow: inset -1px -1px 0 0 $color-lightgray, inset 1px 1px 0 0 $color-white;
                    }
                }
            }
        }

        .lnk-gifOS {
            font-size: 16px;
            color: $color-borderButton;
            letter-spacing: 0;
            line-height: 18px;
            padding: 5px;
            text-decoration: none;

            &::first-letter {
                text-decoration: underline $color-borderButton;
            }

            &:hover {
                border: 1px dotted $color-borderButton;

                &:active {
                    color: $color-borderDarkGray;
                    border: none;
                }


            }
        }


    }


}