header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    align-items: center;

    .contenedor-buttons {
        display: flex;

        .crear-gifOS {
            @extend %btnFucsia;
        }

        .theme {
            .botonDrop {
                background: none;

                .button-dropdown {
                    @extend %btnFucsia;

                }

                i {
                    @extend %btnFucsia;

                }
            }

            #drop1 {
                display: none;
                position: absolute;

                li {
                    list-style-type: none;
                }
            }

            .lnk-gifOS {
                font-size: 16px;
                color: $color-white;
                letter-spacing: 0;
                line-height: 18px;
                text-decoration: none;
            }

        }
    }
}