header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    align-items: center;
    .contenedor-buttons{
        display: flex;
        .crear-gifOS {
            @extend %btnRosa;
            &:hover{
                @extend %hoverRosa;
            }
            &:active{
                @extend %hoverRosa;
            }
        }
        .theme{
        .botonDrop{
            background: none;
            .button-dropdown {
                @extend %btnRosa;
                &:hover{
                    @extend %hoverRosa;
                }
                &:active{
                    @extend %hoverRosa;
                }
            }
            i{
                @extend %btnRosa;
                &:hover{
                    @extend %hoverRosa;
                }
                &:active{
                    @extend %hoverRosa;
        
                }
            }
        }

        #drop1 {
            display: none;
            position: absolute;
            li{
                list-style-type: none;
            }
        }
    }
       
        .lnk-gifOS {
            font-size: 16px;
            color: $color-borderButton;
            letter-spacing: 0;
            line-height: 18px;
            padding: 5px;
    
            &:hover{
                border: 1px dotted $color-borderButton;
    
            &:active{
                color: $color-borderDarkGray;
                border: none;
            }
    
            
            }
        }
    
        
    }

    
}