header {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0px 50px;
    align-items: center;

    .crear-gifOS {
        @extend %btnRosa;
        &:hover{
            @extend %hoverRosa;
        }
        &:active{
            @extend %hoverRosa;

        }
    }

    .button-dropdown {
        @extend %btnRosa;

        &:hover{
            @extend %hoverRosa;
        }
        &:active{
            @extend %hoverRosa;

        }
    }

    .lnk-gifOS {
        font-size: 16px;
        color: $color-borderButton;
        letter-spacing: 0;
        line-height: 18px;
    }

    .f-dropdown {
        display: none;
    }
}