body {

    .sugerencias {
        margin: 20px 50px 30px 50px;

        .gif-sugerencias {
            display: flex;
            justify-content: space-between;


            .contenedor-gif {
                width: 280px;
                height: 280px;
                box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
                
            }

            .barratop-sugerencias {
                @extend %barraTopDark;
                display: flex;
                justify-content: space-between;
                padding-left: 5px;
                padding-right: 5px;
            }

            .vermas-sugerencias {
                @extend %btnVerSugerenciasDark;
                padding: 5px;
                margin: 10px;
                position: absolute;
                margin-top: 220px;
            }

            .gif-sugerencias{
                width: 280px;
                height: 260px;
                box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
            }

        }
    }

}