.section-buscar {
    margin: 20px 50px 0px 50px;
    background-color: $color-gray;
    box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
    height: 100px;
    


    input {
        background: $color-white;
        border: 1px solid $color-borderDarkGray;
        box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-borderButton;
        margin: 20px 0px 0px 10px;
        height: 38px;
        padding-left: 10px;
        width: 90%;
        
    }

    #drop2{
        display: none;
        position: absolute;
        background-color: $color-gray;
        width: 84%;
        z-index: 1;
        margin-left: 10px;
        background: $color-gray;
        box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
            li{
                list-style-type: none;
                text-decoration: none;
                background: $color-backgrund;
                border: 1px solid $color-rosa-claro;
                box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 $color-white;
                font-size: 16px;
                color: $color-borderButton;
                letter-spacing: 0;
                line-height: 22px;
                padding: 5px;
                margin: 5px;
            }
    }

    button{
        @extend %btnGris;
        display: inline;
        text-align: center;
        
    }
}