.tendencias {
    margin: 20px 50px 30px 50px;

    .contenedor-gif {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        .img-gif{
            width: 280px;
            height: 280px;
            margin-bottom: 20px;
           
        }
        
    }

}