body {
    h3{
        white-space: nowrap;
        overflow: hidden;
        margin-right: 5px;
    }

    h4 {
        @extend %barraTop;
    }

    h2 {
        background: $color-input;
        border: 1px solid $color-borderInput;
        box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-borderInput;
        font-family: ChakraPetch-Regular;
        font-size: 14px;
        font-weight: normal;
        color: $color-borderButton;
        padding: 5px;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
}