body .barra-top {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  padding: 5px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

header .volver-atras i {
  color: #FFFFFF;
}

header .volver-atras .icono {
  content: url("assets/gifOF_logo.png");
}

header .elegir-tema .btn-tema a {
  width: 120px;
}

main {
  width: 100%;
  margin-top: 30px;
}

main .contenedorGris {
  display: block;
  width: 600px;
  background: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
  margin: auto;
}

main .contenedorGris .contTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

main .contenedorGris .contTitulo img {
  margin-right: 10px;
}

main .contenedorGris .contTitulo h5 {
  margin-top: 5px;
}

main .contenedorGris p {
  margin-left: 50px;
}

main .contenedorGris ul {
  margin-left: 50px;
  margin-top: 10px;
}

main .contenedorGris ul li {
  list-style-type: decimal;
}

main .contenedorGris .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
}

main .contenedorGris .botones .btnComenzar {
  width: 120px;
}

main .contenedorGris .botones .btnCancelar {
  margin-right: 5px;
  width: 120px;
}

main .capturarVideo {
  display: none;
  width: 700px;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
  margin: auto;
  background-color: #B4B4B4;
}

main .capturarVideo video {
  width: 95%;
  height: 440px;
  margin: 5px auto;
}

main .capturarVideo .pantallaProgress {
  display: none;
  background-color: #FFFFFF;
  width: 690px;
  height: 400px;
  margin: 5px auto;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .capturarVideo .contenedorButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .capturarVideo .contenedorButtons .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

main .capturarVideo .contenedorButtons .botones .btnCapturar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .capturarVideo .contenedorButtons .botones .btnCapturar p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .bntListo {
  display: none;
}

main .capturarVideo .contenedorButtons .botones .bntListo img {
  padding: 5px 10px;
}

main .capturarVideo .contenedorButtons .botones .bntListo p {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .repetirCaptura {
  display: none;
  margin-right: 5px;
  width: 160px;
}

main .capturarVideo .contenedorButtons .botones .cancelar {
  display: none;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .subirgif {
  display: none;
  width: 120px;
}

header .elegir-tema .btn-tema a, header .elegir-tema .btn-tema span, main .contenedorGris .botones .btnComenzar, main .capturarVideo .contenedorButtons .botones .btnCapturar img, main .capturarVideo .contenedorButtons .botones .btnCapturar p, main .capturarVideo .contenedorButtons .botones .subirgif {
  background-color: #EE3EFE;
  border: solid 1px #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  padding: 7px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
}

main .contenedorGris .botones .btnCancelar, main .capturarVideo .contenedorButtons .botones .repetirCaptura, main .capturarVideo .contenedorButtons .botones .cancelar {
  background: #110038;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #808080, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #808080, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
  font-size: 14px;
  padding: 7px 25px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

main .capturarVideo .contenedorButtons .botones .bntListo img, main .capturarVideo .contenedorButtons .botones .bntListo p {
  background: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  font-size: 14px;
  padding: 7px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.seccionMisGifos {
  margin: 30px;
}

.seccionMisGifos h2 {
  background: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110038;
  font-size: 14px;
  font-weight: normal;
  color: #110038;
  padding: 5px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.seccionMisGifos .mis-gifos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.seccionMisGifos .mis-gifos .img-gifs {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #110038;
}
/*# sourceMappingURL=stylesDark.css.map */