@import '_variablesDos/_colors.scss';
@import '_variablesDos/_barraTop.scss';
@import '_variablesDos/_header.scss';
@import '_variablesDos/_main.scss';
@import '_variablesDos/_buttons.scss';
@import '_variablesDos/misGifos';

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    }

body{
    background-color: $color-backgrund;
    .barra-top{
        @extend %barraTop;
    }
}