body .barra-top {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  background: -webkit-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 700;
  padding: 5px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 30px;
}

header .volver-atras i {
  color: #110038;
}

header .volver-atras .icono {
  content: url("assets/gifOF_logo.png");
}

header .contenedor-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contenedor-buttons .crear-gifOS {
  margin-right: 5px;
}

header .contenedor-buttons .elegir-tema {
  margin-right: 5px;
}

header .contenedor-buttons .elegir-tema .btn-tema {
  background-color: transparent;
}

header .contenedor-buttons .elegir-tema .btn-tema .tema {
  width: 120px;
}

header .contenedor-buttons .elegir-tema .drop2 {
  display: none;
  position: absolute;
  background-color: #E6E6E6;
  margin-top: 7px;
  width: 127px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

header .contenedor-buttons .elegir-tema .drop2 li {
  list-style-type: none;
  text-decoration: none;
  background: #FFF4FD;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 5px;
  margin: 5px;
}

header .contenedor-buttons .elegir-tema .drop2 li:visited {
  background: #FFFAFE;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

header .contenedor-buttons .elegir-tema .drop2 li:hover {
  background: #FFFAFE;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

header .contenedor-buttons .lnk-gifOS {
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  padding: 5px;
  text-decoration: none;
}

header .contenedor-buttons .lnk-gifOS::first-letter {
  -webkit-text-decoration: underline #110038;
          text-decoration: underline #110038;
}

header .contenedor-buttons .lnk-gifOS:hover {
  border: 1px dotted #110038;
}

header .contenedor-buttons .lnk-gifOS:active {
  color: #808080;
  border: none;
}

main {
  width: 100%;
  margin-top: 30px;
}

main .contenedorGris {
  display: block;
  width: 600px;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin: auto;
}

main .contenedorGris .contTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

main .contenedorGris .contTitulo img {
  margin-right: 10px;
}

main .contenedorGris .contTitulo h5 {
  margin-top: 5px;
}

main .contenedorGris p {
  margin-left: 50px;
}

main .contenedorGris ul {
  margin-left: 50px;
  margin-top: 10px;
}

main .contenedorGris ul li {
  list-style-type: decimal;
}

main .contenedorGris .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 10px;
}

main .contenedorGris .botones .btnComenzar {
  width: 120px;
}

main .contenedorGris .botones .btnCancelar {
  margin-right: 5px;
  width: 120px;
}

main .capturarVideo {
  display: none;
  width: 700px;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin: auto;
  background-color: #E6E6E6;
}

main .capturarVideo video {
  width: 98%;
  margin: 5px;
}

main .capturarVideo .img-gif {
  width: 98%;
  height: 100%;
  margin: auto;
  margin-top: 5px;
  margin-left: 7px;
  border: 1px solid #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

main .capturarVideo .pantallaProgress {
  display: none;
  background-color: #FFFFFF;
  width: 690px;
  height: 400px;
  margin: 5px auto;
  border: 1px solid #808080;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .capturarVideo .pantallaProgress .contenido {
  margin-top: 20%;
}

main .capturarVideo .pantallaProgress .barra-carga {
  width: 240px;
  height: 20px;
  background: #B4B4B4;
  border: 1px solid #979797;
  box-shadow: inset 2px 2px 0 0 #E6E6E6, inset -2px -2px 0 0;
  -webkit-box-shadow: inset 2px 2px 0 0 #E6E6E6, inset -2px -2px 0 0;
  margin: 5px auto;
}

main .capturarVideo .pantallaProgress .barra-carga .containerProgress {
  height: 18px;
  animation: progress 5s infinite;
  -webkit-animation: progress 5s infinite;
}

@-webkit-keyframes progress {
  0% {
    background: #F7C9F3;
    width: 0%;
  }
  100% {
    background: #F7C9F3;
    width: 100%;
  }
}

@keyframes progress {
  0% {
    background: #F7C9F3;
    width: 0%;
  }
  100% {
    background: #F7C9F3;
    width: 100%;
  }
}

main .capturarVideo .contenedorButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .capturarVideo .contenedorButtons .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

main .capturarVideo .contenedorButtons .botones .btnCapturar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .capturarVideo .contenedorButtons .botones .btnCapturar span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .cont-btn {
  display: none;
}

main .capturarVideo .contenedorButtons .botones .cont-btn .bntListo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .capturarVideo .contenedorButtons .botones .cont-btn .bntListo img {
  padding: 5px 10px;
}

main .capturarVideo .contenedorButtons .botones .cont-btn .bntListo span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .repetirCaptura {
  display: none;
  margin-right: 5px;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .cancelar {
  display: none;
  width: 120px;
}

main .capturarVideo .contenedorButtons .botones .subirgif {
  display: none;
  width: 120px;
}

header .contenedor-buttons .crear-gifOS, header .contenedor-buttons .elegir-tema .btn-tema .tema, header .contenedor-buttons .elegir-tema .btn-tema span, main .contenedorGris .botones .btnComenzar, main .capturarVideo .contenedorButtons .botones .btnCapturar img, main .capturarVideo .contenedorButtons .botones .btnCapturar span, main .capturarVideo .contenedorButtons .botones .subirgif, .popup .contenedor-boton .btn-listo {
  background-color: #F7C9F3;
  border: solid 1px #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 7px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
  outline: none;
}

header .contenedor-buttons .crear-gifOS:hover, header .contenedor-buttons .elegir-tema .btn-tema .tema:hover, header .contenedor-buttons .elegir-tema .btn-tema span:hover, main .contenedorGris .botones .btnComenzar:hover, main .capturarVideo .contenedorButtons .botones .btnCapturar img:hover, main .capturarVideo .contenedorButtons .botones .btnCapturar span:hover, main .capturarVideo .contenedorButtons .botones .subirgif:hover, .popup .contenedor-boton .btn-listo:hover {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px;
  background-color: #E6BBE2;
  cursor: pointer;
}

header .contenedor-buttons .crear-gifOS:active, header .contenedor-buttons .elegir-tema .btn-tema .tema:active, header .contenedor-buttons .elegir-tema .btn-tema span:active, main .contenedorGris .botones .btnComenzar:active, main .capturarVideo .contenedorButtons .botones .btnCapturar img:active, main .capturarVideo .contenedorButtons .botones .btnCapturar span:active, main .capturarVideo .contenedorButtons .botones .subirgif:active, .popup .contenedor-boton .btn-listo:active {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px;
  background-color: #E6BBE2;
  cursor: pointer;
}

main .contenedorGris .botones .btnCancelar, main .capturarVideo .contenedorButtons .botones .repetirCaptura, main .capturarVideo .contenedorButtons .botones .cancelar, .popup .contenedor .botones button {
  background: #F0E5EE;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  padding: 7px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  outline: none;
  text-decoration: none;
}

main .contenedorGris .botones .btnCancelar:hover, main .capturarVideo .contenedorButtons .botones .repetirCaptura:hover, main .capturarVideo .contenedorButtons .botones .cancelar:hover, .popup .contenedor .botones button:hover {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px;
  background-color: #E6DCE4;
  cursor: pointer;
}

main .capturarVideo .contenedorButtons .botones .cont-btn .bntListo img, main .capturarVideo .contenedorButtons .botones .cont-btn .bntListo span {
  background: #FF6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  padding: 7px;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  outline: none;
  text-decoration: none;
}

.seccionMisGifos {
  margin: 30px;
}

.seccionMisGifos h2 {
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #E6BBE2;
  font-size: 14px;
  font-weight: normal;
  color: #110038;
  padding: 5px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

.seccionMisGifos .mis-gifos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.seccionMisGifos .mis-gifos .img-gifs {
  width: 280px;
  height: 280px;
  margin: 10px;
}

.popup {
  display: none;
  width: 620px;
  height: 320px;
  margin: auto;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.popup .barra-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.popup .contenedor .preview {
  width: 300px;
  height: 160px;
  overflow: hidden;
  border: 1px solid #808080;
  box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.popup .contenedor .botones button {
  display: block;
  width: 230px;
  margin-top: 20px;
}

.popup .contenedor-boton {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.popup .contenedor-boton .btn-listo {
  margin-right: 15px;
  margin-top: 15px;
  width: 120px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-top: 15px;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #FFF4FD;
  font-family: 'Chakra Petch', sans-serif;
}
/*# sourceMappingURL=styles.css.map */