$color-white : #FFFFFF;
$color-black: #000000;
$color-dark : #110038;
$color-button : #F7C9F3;
$color-input : #FFFAFE;
$color-gray :  #E6E6E6;
$color-add : #4180F6;
$color-lightgray : #B4B4B4;
$color-borderInput :  #E6BBE2;
$color-borderButton : #110038;
$color-backgrund : #FFF4FD;
$color-shadow: #997D97;
$color-borderDarkGray:#808080;
$color-violeta: #4C2F99;
$color-azul: #284F99;

$color-darkButton : #EE3EFE;
$color-darkBlue : #2E32FB;
$color-captured : #FF6161; 
$color-rosa-rojizo : #993A3A;
$color-sadow-dark:#A72CB3;
$color-input-shadow:#E6DCE4;
$color-azul-oscuro:#2124B3; 
$color-rosa-oscuro: #E6BBE2;
$color-azul-hover:#3A72DB;
$color-secndary-button: #F0E5EE;
$color-hover-dark : #CE36DB;

