header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 30px;

    .volver-atras{
        i{
            color: $color-white;
        }
        .icono{
            content: url('assets/gifOF_logo.png');
        }
    }

    .elegir-tema{
        .btn-tema{
            background-color: transparent;
            a{
                @extend %btnFucsia;
                width: 120px;

            }
            span{
                @extend %btnFucsia;
            }

        }

        .drop2{
            display: none;
            position: absolute;
            
        }
  
    }
    
}
