header{
    display: flex;
    justify-content: space-around;
    margin: 30px;

    .volver-atras{
        i{
            
        }
        img{
            content: url('assets/gifOF_logo.png');
            width: 200px;
        }
    }

    .elegir-tema{

    }
    
}