main{
    width: 100%;
    margin-top: 30px;

    .contenedorGris{
        display: block;
        width: 600px;
        background: $color-gray;
        box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
        margin: auto;

       .contTitulo{
           display: flex;
           margin-top: 10px;
           margin-left: 10px;

           img{
            margin-right: 10px;
           }
           h5{
               margin-top: 5px;
           }
       }
       p{
           margin-left: 50px;
       }
       ul{
           margin-left: 50px;
           margin-top: 10px;

           li{
               list-style-type: decimal;
           }
       }
       .botones{
           display: flex;
           justify-content: end;
           padding: 10px;

           .btnComenzar{
               @extend %btnRosa;
               width: 120px;
              
           }
           .btnCancelar{
               @extend %btnRosaClaro;
               margin-right: 5px;
               width: 120px;
              
           }
       }
    }

    .capturarVideo{
        display: none;
        width: 700px;
        box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;
        margin: auto;
        background-color: $color-gray;
        

        video{
            width: 95%;
            height: 440px;
            margin: 5px auto;
        }

        .pantallaProgress{
            display: none ;
            background-color: $color-white;
            width: 690px;
            height: 400px;
            margin: 5px auto;
            border: 1px solid $color-borderDarkGray;
            box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-black;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
        
        .contenedorButtons{
                display: flex;
                justify-content: space-between;
                align-items: center;

            .botones{
                display: flex;
                justify-content: flex-end;
                margin-right: 5px;
                padding-bottom: 10px;
                margin-bottom: 15px;
    
                .btnCapturar{
                    display: flex;

                    img{
                        @extend %btnRosa;
                        

                    }

                    p{
                        @extend %btnRosa;
                        align-items: center;
                        width: 120px;
                    }
                    
                }
    
                .bntListo{
                    display: none;
                    

                    img{
                        @extend %btnCaptured;
                        padding: 5px 10px;
                    }
                    p{
                        @extend %btnCaptured;
                        align-items: center;
                        width: 120px;
                    }
                }
    
                .repetirCaptura{
                    display: none;
                    margin-right: 5px;
                    @extend %btnRosaClaro;
                    width: 120px;
                }
    
                .cancelar{
                    display: none;
                    @extend %btnRosaClaro;
                    width: 120px;
                    
                }
                .subirgif{
                    display: none;
                    @extend %btnRosa;
                    width: 120px;
                }
            }
        }
        
    }

    
}