.seccionMisGifos{
    margin: 30px;
    h2 {
        background: $color-input;
        border: 1px solid $color-darkBlue;
        box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-borderButton;
        -webkit-box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-borderButton;
        font-size: 14px;
        font-weight: normal;
        color: $color-borderButton;
        padding: 5px;
        margin-bottom: 10px;
        letter-spacing: 0;
    }
    .mis-gifos{
        display: grid;
        grid-template-columns: auto auto auto auto;
       

        .img-gifs{
            width: 280px;
            height: 280px;
            margin: 10px;
        }
    }
}