.popup {
    display: none;
    width: 620px;
    height: 320px;
    margin: auto;
    background: $color-gray;
    box-shadow: inset -2px -2px 0 0 $color-lightgray, inset 2px 2px 0 0 $color-white;

    .barra-top{
        display: flex;
        justify-content: space-between;
    }

    .contenedor {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;

        video {
            width: 325px;
            height: 160px;
            background-color: red;
            border: 1px solid $color-borderDarkGray;
            box-shadow: inset -2px -2px 0 0 $color-gray, inset 2px 2px 0 0 $color-black;
        }

        .botones {
            button {
                display: block;
                width: 230px;
                @extend %btnRosaClaro;
                margin-top: 20px;
            }
        }

        
    }

    .contenedor-boton{

        width: 100%;
        display: flex;
        justify-content: right;
        

        .btn-listo{
            margin-right: 15px;
            margin-top: 15px;
            width: 120px;
            @extend %btnRosa;
            justify-content: right;
            margin-top: 15px;
        }
    }

   

}