
@import '_variables/_colors.scss';
@import '_variables/_barraTop.scss';
@import '_variables/_header.scss';
@import '_variables/_buttons.scss';

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    }

body{
    .barra-top{
        @extend %barraTop;
    }
}