
@import '_variables/_colors.scss';
@import '_variables/_barraTop.scss';
@import '_variables/_header.scss';
@import '_variables/_buttons.scss';
@import '_variables/_seccionbuscar.scss';
@import '_variables/_titles.scss';
@import '_variables/_seccionsugerencias.scss';
@import '_variables/_secciontendencias.scss';

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    }

body{
    background-color: $color-backgrund;
    .barra-top{
        @extend %barraTop;
    }
}