@charset "UTF-8";
body h4, body .sugerencias .gif-sugerencias .barratop-sugerencias, body .barra-top {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  padding: 5px;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px 0px 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .contenedor-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .contenedor-buttons .crear-gifOS {
  margin-right: 5px;
}

header .contenedor-buttons .theme {
  margin-right: 5px;
}

header .contenedor-buttons .theme .botonDrop {
  margin-top: 7px;
}

header .contenedor-buttons .theme .botonDrop .button-dropdown {
  width: 120px;
}

header .contenedor-buttons .theme #drop1 {
  display: none;
  position: absolute;
  background-color: #E6E6E6;
  margin-top: 7px;
  width: 127px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

header .contenedor-buttons .theme #drop1 li {
  list-style-type: none;
  text-decoration: none;
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  padding: 5px;
  margin: 5px;
}

header .contenedor-buttons .theme #drop1 li:visited {
  color: #110038;
  text-decoration: none;
}

header .contenedor-buttons .lnk-gifOS {
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  padding: 5px;
  text-decoration: none;
}

header .contenedor-buttons .lnk-gifOS::first-letter {
  -webkit-text-decoration: underline 1px #FFFFFF;
          text-decoration: underline 1px #FFFFFF;
}

header .contenedor-buttons .lnk-gifOS:hover {
  border: 1px dotted #FFFFFF;
}

header .contenedor-buttons .lnk-gifOS:hover:active {
  color: #FFFFFF;
  border: none;
}

/*DARK PARTÇ*/
header .contenedor-buttons .crear-gifOS, header .contenedor-buttons .theme .botonDrop .button-dropdown, header .contenedor-buttons .theme .botonDrop span {
  background-color: #EE3EFE;
  border: solid 1px #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  padding: 7px;
  font-family: ChakraPetch-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
}

.section-buscar button {
  background: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #808080, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #808080, inset 1px 1px 0 0 #FFFFFF;
  height: 30px;
  padding: 5px;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #808080;
}

body .sugerencias .gif-sugerencias .close {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #808080, inset 2px 2px 0 0 #FFFFFF;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 5px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .sugerencias .gif-sugerencias .vermas-sugerencias {
  background: #2E32FB;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  color: #FFFFFF;
}

header .contenedor-buttons .crear-gifOS:hover, header .contenedor-buttons .crear-gifOS:active, header .contenedor-buttons .theme .botonDrop .button-dropdown:hover, header .contenedor-buttons .theme .botonDrop .button-dropdown:active, header .contenedor-buttons .theme .botonDrop span:hover, header .contenedor-buttons .theme .botonDrop span:active {
  border: 1px solid #110038;
  outline: 1px dotted #110038;
  outline-offset: -4px;
  background-color: #CE36DB;
  cursor: pointer;
}

.section-buscar {
  margin: 20px 50px 0px 50px;
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  height: 100px;
}

.section-buscar input {
  background: #FFFFFF;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  margin: 20px 0px 20px 10px;
  height: 38px;
  padding-left: 10px;
  width: 90%;
}

.section-buscar button {
  display: inline;
}

body h2 {
  background: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110038;
  font-size: 14px;
  font-weight: normal;
  color: #110038;
  padding: 5px;
  margin-bottom: 10px;
  letter-spacing: 0;
}

body .sugerencias {
  margin: 20px 50px 30px 50px;
}

body .sugerencias .gif-sugerencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .sugerencias .gif-sugerencias .contenedor-gif {
  width: 280px;
  height: 280px;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

body .sugerencias .gif-sugerencias .barratop-sugerencias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

body .sugerencias .gif-sugerencias img {
  width: 280px;
  height: 245px;
  overflow: hidden;
}

body .sugerencias .gif-sugerencias .vermas-sugerencias {
  padding: 5px;
  margin: 10px;
  float: bottom;
  position: absolute;
}

.tendencias {
  margin: 20px 50px 30px 50px;
}

.tendencias .contenedor-gif {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*.barra-bottom {
            @extend %barraTop;
            align-self: flex-end;
            align-items: flex-end;
            -ms-flex-align: end;
        }*/
}

.tendencias .contenedor-gif .img-gif {
  width: 280px;
  height: 280px;
  margin-bottom: 20px;
}

.tendencias .contenedor-gif .img-gif:hover {
  outline: 2px dotted #110038;
  outline-offset: -5px;
}

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #110038;
}
/*# sourceMappingURL=stylesDark.css.map */