
@import '_variables/_colors.scss';
@import '_variables/_barraTop.scss';
@import '_variables/_headerdark.scss';
@import '_variables/_buttons.scss';
@import '_variables/_seccionbuscardark.scss';
@import '_variables/_titlesdark.scss';
@import '_variables/_seccionsugerenciasdark.scss';
@import '_variables/_secciontendenciasdark.scss';

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    }
    body{
        font-family: 'Chakra Petch', sans-serif;
        background-color: $color-borderButton ;
        .barra-top{
            @extend %barraTopDark;
        }
    }